# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
             ${TOPDIR}/../poky-krogoth/meta \
             ${TOPDIR}/../poky-krogoth/meta-poky \
             ${TOPDIR}/../poky-krogoth/meta-b2open/meta-voip \
             ${TOPDIR}/../poky-krogoth/meta-openembedded/meta-oe \
             ${TOPDIR}/../poky-krogoth/meta-openembedded/meta-python \
             ${TOPDIR}/../poky-krogoth/meta-openembedded/meta-networking \
             ${TOPDIR}/../poky-krogoth/meta-yocto-bsp \
             ${TOPDIR}/../poky-krogoth/meta-fsl-arm \
             ${TOPDIR}/../poky-krogoth/meta-fsl-arm-extra \
             ${TOPDIR}/../poky-krogoth/meta-telephony \
             "
